<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-title>Bienvenido usuario</ion-title>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Modo dueño</ion-label>
          <ion-toggle checked></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full">
          <ion-icon name="car" slot="start"></ion-icon>
          Arrendar mi estacionamiento
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>