<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="/assets/icon/logo.png" alt="Logo" class="logo">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>Recuperar contraseña</ion-label>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="!mostrarFormularioCodigo">
      <ion-col>
        <ion-card class="ion-margin-top">
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-label>Correo</ion-label>
                <ion-input type="email" placeholder="Ingrese su correo"></ion-input>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row *ngIf="mostrarFormularioCodigo">
      <ion-col>
        <ion-card class="ion-margin-top">
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-label>Código</ion-label>
                <ion-input type="text" placeholder="Ingrese el código"></ion-input>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="verificarCodigo">
      <ion-col>
        <ion-card class="ion-margin-top">
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-label>Nueva contraseña</ion-label>
                <ion-input type="password" placeholder="Ingrese la nueva contraseña"></ion-input>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-label>Repetir contraseña</ion-label>
                <ion-input type="password" placeholder="Repita la nueva contraseña"></ion-input>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button expand="full" (click)="enviarCodigo()">{{ verificarCodigo ? 'Ingresar' : (mostrarFormularioCodigo ? 'Verificar código' : 'Enviar código') }}</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>