<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <img src="/assets/icon/logo.png" class="logo" alt="Logo">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-card class="ion-margin-top">
          <ion-card-content>
            <ion-row>
              <ion-col>
                <ion-label>Nombre</ion-label>
                <ion-input type="text" placeholder="Ingrese su nombre"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>Apellido</ion-label>
                <ion-input type="text" placeholder="Ingrese su apellido"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>Correo</ion-label>
                <ion-input type="email" placeholder="Ingrese su correo"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>Contraseña</ion-label>
                <ion-input type="password" placeholder="Ingrese su contraseña"></ion-input>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-label>Tipo de usuario</ion-label>
                <ion-list>
                  <ion-item>
                    <ion-label>Dueño</ion-label>
                    <ion-radio value="dueño"></ion-radio>
                  </ion-item>
                  <ion-item>
                    <ion-label>Cliente</ion-label>
                    <ion-radio value="cliente"></ion-radio>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="full">Registrarse</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-label>¿Ya tiene cuenta?</ion-label>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-label color="primary"><a href="/login">Iniciar sesion</a></ion-label>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>